<section class="section-a">
  <header><h1>Section A: Map Reduce</h1></header>

  <ol>
    <li>The sum square is: {{ showSumSquares }}</li>
    <!-- 1 -->
    <li>The sum cubes is: {{ showSumCubes }}</li>
    <!-- 2 -->
    <li>The sum factorial is: {{ showSumFactorial }}</li>
    <!-- 3 -->
    <li>
      <strong>Write sumMap function:</strong>
    </li>
    <!--  4 -->
    <li>
      <p>The sum int 2 is: {{ showSum2 }}</p>
      <p>The sum square 2 is: {{ showSumSquares2 }}</p>
      <p>The sum cubes 2 is: {{ showSumCubes2 }}</p>
      <p>The sum factorial 2 is: {{ showSumFactorial2 }}</p>
    </li>
    <!-- 5 -->

    <li>The prod ints result is: {{ showProdInts }}</li>
    <!-- 6 -->

    <li>The prod squares result is: {{ showProdSquares }}</li>
    <!-- 7 -->
    <li>The prod cubes result is: {{ showProdCubes }}</li>
    <!-- 8 -->
    <li>The prod factorials result is: {{ showProdFactorial }}</li>
    <!-- 9 -->

    <li>
      <strong>Write prodMap function:</strong>
    </li>
    <!--  10 -->
    <li>
      <p>The pod int 2 is: {{ showProdInts2 }}</p>
      <p>The pod square 2 is: {{ showProdSquares2 }}</p>
      <p>The pod cubes 2 is: {{ showProdCubes2 }}</p>
      <p>The pod factorial 2 is: {{ showProdFactorial2 }}</p>
    </li>
    <!-- 11 -->
    <li>
      <strong>Write mapReduce function:</strong>
    </li>
    <!-- 12 -->

    <li>
      <strong>Refactor mapReduce2 function:</strong>
    </li>
    <!-- 13 -->

    <li>
      <strong
        >Rewrite the sumMap and prodMap as functions of the mapReduce2:</strong
      >

      <p>{{ showSumCubes3 }}</p>
      <!-- TODO: Need to add all examples here for sum and prod -->
      <p>sumMap2(cubes)(1, 5) => {{ showSumCubes4 }}</p>
      <p>sumMap2(factorial)(1, 5) => {{ showSumFactorial3 }}</p>
    </li>
    <!-- 14 -->
  </ol>
</section>
